{{!-- ---------------------------- --}}
{{!-- post creation form --}}

<h2>
  <a href="/api/post/new">Create New Post</a>
  </h2>



{{!-- ---------------------------- --}}
{{!-- populates posts made by users --}}

<h2>Previous Posts</h2>

<div class="dashboard-post">
    {{#each dashboard as |post| }}
        <div class="card col mb-4 post">
          <header>
            <h3>
              <a href="/api/post/{{post.id}}">{{post.title}}</a>
            </h3>
            <p>Posted on {{format_date post.post_date}}</p>
          </header>
          <div class="col-md-7">
            <p>
             {{post.content}}
            </p>
          </div>
          <div>
            <button class="button edit-post" ><a href="/api/post/{{post.id}}/edit">Edit</a></button>
            <button class=" delete-post" data-post-id="{{post.id}}">Delete</button>
          </div>
        </div>
    {{/each}}

</div>

{{!-- ---------------------------- --}}

<script src="/js/post.js"></script>