{{!-- ---------------------------- --}}
{{!-- post creation form --}}

<h2 id="secondary-header">
  <a href="/api/post/new">Create New Post</a>
</h2>



{{!-- ---------------------------- --}}
{{!-- populates posts made by users --}}

<h2 id="tertiary-header">Previous Posts</h2>


{{#each dashboard as |post| }}
   <div class="card col mb-4 post dashboard-post">
      <div class="row-md-5">
          <header>
            <h3>
              <a href="/api/post/{{post.id}}">{{post.title}}</a>
            </h3>
            <p>Posted on {{format_date post.post_date}}</p>
          </header>
          <div class="col-md-7">
            <p>
             {{post.content}}
            </p>
          </div>
          <div class="p-2">
            <button class="btn btn-primary" ><a href="/api/post/{{post.id}}/edit">Edit</a></button>
            <button class="btn btn-primary delete-post" data-post-id="{{post.id}}">Delete</button>
          </div>
        </div>
   </div>
{{/each}}



{{!-- ---------------------------- --}}

<script src="/js/post.js"></script>