{{!-- ---------------------------- --}}
{{!-- populates post --}}

<div class="text-center card">
    <header>
    <h2>{{title}}</h2>
    <p>Created by <a href="/api/user/{{user_id}}">{{User.name}}</a> on  {{format_date post_date}}</p>
    </header>
        <div>
            <p>{{content}}</p>
        </div>
</div>

{{!-- ---------------------------- --}}
{{!-- comment posting --}}

<div>
    <form class="comment-form">
      <div class="form-group">
        <label for="comment-text-label">comment:</label>
        <input class="form-input" type="text" id="comment-text" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>

{{!-- ---------------------------- --}}
{{!-- populates comments --}}

<div>
    {{#each Comments as |Comment| }}
        <div class="card row mb-4">
            <header class="col-md-5">
                <p>Created by <a href="/api/user/{{Comment.User.id}}">{{Comment.User.name}}</a> on {{format_date Comment.post_date}}</p>
           
           </header>
            <div class="col-md-7">
               <p>
             {{Comment.content}}
             </p>
            </div>
        </div>
    {{/each}}

</div>


<script src="/js/comment.js"></script>